<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANbgPQOXKUWkXcbM8WbKAD9xtDOvSX2QI</string>
	<key>GCM_SENDER_ID</key>
	<string>120985428658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azmammad.Tiqua</string>
	<key>PROJECT_ID</key>
	<string>tiqua-506a5</string>
	<key>STORAGE_BUCKET</key>
	<string>tiqua-506a5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120985428658:ios:a069e90005148d842a1fab</string>
</dict>
</plist>